<html>
		    <head>
		      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /	>
		    </head>
            <body><form action="/choose_number" method="post">
				<div style="position: absolute; right: 0;">
                <p><button name="ChooseNumber" type="submit" value="Choose Number">Choose Number</button></p>
              </form>
			  <form action="/generate_number" method="post">
				<div style="position: absolute; right: 0;">
                <p><button name="GenerateNumber" type="submit" value="Generate Number">Generate Number</button></p>
              </form>
			  </body>
          </html>