<html>
		    <head>
		      <link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
			  <link href="/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
			  <meta name="viewport" content="width=device-width, initial-scale=1.0">
			  <link href="/stylesheets/css/fluid1.css" rel="stylesheet">
			  <link rel="stylesheet" type="text/css" href="/stylesheets/css/index.css"/>
			 <link rel="stylesheet" type="text/css" href="/stylesheets/css/header.css"/>
			 <link rel="shortcut icon" href="http://static1.twilio.com/packages/favicons/img/Twilio_57.png">
			  <title>Select Twilio Number Option</title>
		    </head>
		
	
            <body>
	
			
			<header>
	        <div id="header">


	        </div>
	    </header>
		<div id="wrap-header">
				<div id="main-header" class="SL_swap">
					<a id="header-logo" href="/">Twilio</a>
					<ul class="main-navigation">
						<li><a href="/"><i class="icon-white"></i>Home</a></li>
						<li><a href="/poll_history"><i class="icon-white"></i>History</a></li>	
	                  	<li><a href="/profile"><i class="icon-white"></i>Profile</a></li>
						<li><a href="{{ url }}"><i class="icon-white"></i>SignOut</a></li>
					</ul>
				</div>
		</div>
				
	          <legend><font color="white">Select Twilio Number Option</font></legend>
	          <form action="/choose_number" method="post">
				<p><button name="ChooseNumber" type="submit" value="Choose Number" class="btn btn-small"><i class="icon-white"></i>Choose Number</button></p>
              </form>
			  <form action="/generate_number" method="post">
				<p><button name="GenerateNumber" type="submit" value="Generate Number" class="btn btn-small"><i class="icon-white"></i>Generate Number</button></p>
              </form>
			<footer>
			        <p class="footer">
						</br>
						</br>
			            <font color="white">Lovingly crafted by Suyash Chaudhary and Saurabh Ved</font>
			        </p>
			    </footer>
			</body>
			
          </html>