<html>
		    <head>
		      <link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
			  <link href="/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
			  <meta name="viewport" content="width=device-width, initial-scale=1.0">
			  <link href="/stylesheets/css/fluid1.css" rel="stylesheet">
			  <link href="/stylesheets/css/font-awesome.css" rel="stylesheet">
			  <link href="/stylesheets/css/font-awesome.min.css" rel="stylesheet">
			  <link href="/stylesheets/css/font-awesome-ie7.min" rel="stylesheet">
			  <title>Select Twilio Number Option</title>
		    </head>
            <body>
	          <legend>Select Twilio Number Option</legend>
	          <form action="/choose_number" method="post">
				<p><button name="ChooseNumber" type="submit" value="Choose Number" class="btn btn-success active"><i class="icon-white"></i>Choose Number</button></p>
              </form>
			  <form action="/generate_number" method="post">
				<p><button name="GenerateNumber" type="submit" value="Generate Number" class="btn btn-success active"><i class="icon-white"></i>Generate Number</button></p>
              </form>
              <form action="/" method="get">
		        <p><button name="Home" type="submit" value="Home" class="btn btn-primary active">Home</button></p> 
		      </form>
			</body>
          </html>