<html>
    <head>
          <link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
		  <link href="/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <link href="/stylesheets/css/fluid1.css" rel="stylesheet">
		  <link rel="stylesheet" type="text/css" href="/stylesheets/css/index.css"/>
		  <link rel="stylesheet" type="text/css" href="/stylesheets/css/header.css"/>
		  <link rel="shortcut icon" href="http://static1.twilio.com/packages/favicons/img/Twilio_57.png">
		  <title>Poll Page </title>
<script type="text/javascript">
	  var obj = '{{ data_store }}';
	var obj1 = eval ("(" + obj + ")");
	var i = 1;


function print_dict()
{			var div = document.getElementById("output");

	for(var key in obj1){
		div.innerHTML += ' ' + key + ' ' + "<br>";
		i++;	
	}	
}
	</script>	
    </head>
    <body onload='print_dict();'><font size="4" color="black">
	<header>
	        <div id="header">


	        </div>
	    </header>
		<div id="wrap-header">
				<div id="main-header" class="SL_swap">
					<a id="header-logo" href="/">Twilio</a>
					<ul class="main-navigation" style="float: none; margin: 0 auto;">
						<li><a href="/"><i class="icon-white"></i>Home</a></li>
						<li><a href="/poll_history"><i class="icon-white"></i>History</a></li>	
	                  	<li><a href="/profile"><i class="icon-white"></i>Profile</a></li>
						<li><a href="{{ url }}"><i class="icon-white"></i>SignOut</a></li>
					</ul>
				</div>
		</div>
	<legend>Poll Page</legend>
	
	
		<h1>{{ name }}</h1>
		<p>To Begin the poll Please Enter Question and Save Options One by One. Next Hit Start Poll</p>
		Number used for polling : {{ number }}

		<FORM ACTION="/option_save" METHOD=POST>
		<BR>
		 Your Question:<BR>
		<TEXTAREA NAME="question" COLS=40 ROWS=3>{{ question }}</TEXTAREA><BR><BR>			
		 Your Options(Enter Options one by one and Press Save Option): <BR>			
		<input type="text" name="options">
	       	 <input type="hidden" name="number" value="{{ number }}">
			 <input type="hidden" name="nickname" value="{{ user_nickname }}">
		     <p><button class="btn btn-small" name="Options" type="submit" value="option">Add next Option</button></p>
		</FORM>
		<div id="output">
				
		</div>	
		<Form Action="/Start_Poll" METHOD=POST>
	        <TEXTAREA NAME="question" COLS=40 ROWS=6 style="display: none;">{{ question }}</TEXTAREA><BR>
	     	<input type="hidden" name="number" value="{{ number }}">
			<p><button class="btn btn-small" name="Start Poll" type="submit">Start Poll</button></p> 
		</Form>     
		<font size="5">Poll link for Users : <a href="http://sp13-twilio.appspot.com/polling/{{user_nickname}}">http://sp13-twilio.appspot.com/polling/{{user_nickname}}</a></font>
		</font>
		<footer>
		        <p class="footer">
					</br>
					</br>
		            Lovingly crafted by Suyash Chaudhary and Saurabh Ved
		        </p>
		    </footer>
    </body>
</html>
