<!DOCTYPE html>
<html lang="en">
<head>
      	<link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
		  
		  <link href="/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <link href="/stylesheets/css/fluid1.css" rel="stylesheet">
</head>
	  <body>
	  <div class="centerside">	
	  <div class="container">	 
	  
	  <legend>Twilio Authentication Inputs</legend>	
      <form action="/save?%{{ key }}" method="post">
		<input class="span3" name="username" placeholder="Account Sid" type="text"><br>
		<input class="span3" name="password" placeholder="Authentication Token" type="password"><br> 
		<input class="span3" name="URL" placeholder="Evangelist URL" type="text"><br> 
		<p><a class="btn btn-success btn-small" href="#"><i class="icon-ok"></i>Submit</a></p>
      </form>
	  
	  </div> 	
	  </div>
	  </body>
	
</html>	





