<html>
	
    <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /	>
      <script type="text/javascript" src="https://talkgadget.google.com/talkgadget/channel.js"></script>
      <script type="text/javascript">
	var obj_data = '{{ data_store }}';
	var obj_options = '{{ option_data }}';
	var options = eval ("(" + obj_options + ")");
	var data = eval ("(" + obj_data + ")");
	var i = 1;
	var counter = 0
	var min = 0
	var hours = 0
	var timer;
	var time;
	var channel;
	var socket;

function channel_create(){
	channel = new goog.appengine.Channel('{{ channel_key }}');
	socket = channel.open();
	socket.onopen = onOpened;
	socket.onmessage = onMessage;
	socket.onerror = onError;
	socket.onclose = onClose;
}	

	function countUP () {
	 counter = counter + 1;//increment the counter by 1
	 if(counter > 59)
	 {
		min = min + 1;
		counter = 0;
	 }
	 if(min > 59)
	 {
		hours = hours + 1;
		min = 0;
	 }
	 //display the new value in the div
	 document.getElementById("timer_container").innerHTML = hours + ' : ' + min + ' : ' + counter;
	 //document.getElementById("timer_container").innerHTML = counter;
	}
		
function print_dict()
{			var div = document.getElementById("output");
	i=1;
	for(var key in options)
	{
		div.innerHTML += 'Option' + i + ' ' + options[i] + ' ' + data[options[i]] + "<br>";
		i++;
	}
}


// Channel Messages


function onOpened() {
console.log('onError');
}

function onMessage(msg_obj) {
	//console.log('onMessage');
	//document.write ("Printing the channel message data"); // prints the value of the message variable-->
	//document.write (msg_obj.data);-->
	var div_element = document.getElementById("output");
	div_element.innerHTML = "";
	var option_name = options[String(msg_obj.data)];
	data[option_name] += 1;
	var poll_data_element = document.getElementById("poll_data");
	poll_data_element.value = JSON.stringify(data);
	print_dict();
	//poll_count = Number(document.getElementById('userInput1').innerHTML) + 1 ; 
	//document.getElementById('userInput1').innerHTML = poll_count

}
function onError(obj) {
    console.log('onError');
}
function onClose(obj) {
    console.log('onClose');
}
</script>

    </head>
	
    <body onload='timer=setInterval("countUP()", 1000 );print_dict();channel_create();'>
	Send your choice to this number: <label id="phoneNumber">"{{ phone_number }}"</label><br>
	
		<h1>{{ name }}</h1>
		<p>START POLL PAGE</p>
		<div style="position: absolute; right: 5;"><a href="{{ url }}">Sign out</a></div>
		<p>Elapsed Time :<div id="timer_container">0</div></p>
		<FORM ACTION="/option_save" METHOD=POST name="form1">
		 your question:<BR>
		<TEXTAREA NAME="question" COLS=40 ROWS=3>{{ question }}</TEXTAREA><BR><BR>			
		 Your Options: <BR>			
		</FORM>

		<div id="output">

				
		</div>
		
     	<Form Action="/stop_poll" METHOD=POST>
		<input type="hidden" name="polldata" id="poll_data" value="">
		<input type="hidden" name="poll_question" value="{{ question }}">
		<input type="hidden" name="poll_number" value="{{phone_number}}">
		<p><button name="Stop Poll" type="submit">Stop Poll</button></p> 
		</Form>       		
		
    </body>
		
</html>
