<html>
	
    <head>
      <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" /	>
      <script type="text/javascript">
	var counter = 0
	var min = 0
	var hours = 0
	var timer;
	var time;
	function countUP () {
	 counter = counter + 1;//increment the counter by 1
	 if(counter > 59)
	 {
		min = min + 1;
		counter = 0;
	 }
	 if(min > 59)
	 {
		hours = hours + 1;
		min = 0;
	 }
	 //display the new value in the div
	 document.getElementById("timer_container").innerHTML = hours + ' : ' + min + ' : ' + counter;
	 //document.getElementById("timer_container").innerHTML = counter;
	}
	
	var obj = '{{ data_store }}';
	var obj1 = eval ("(" + obj + ")");
	var i = 1;
	
	
function print_dict()
{			var div = document.getElementById("output");
	
	
	for(var key in obj1){
		div.innerHTML += 'Option' + i + ' ' + key + ' ' + obj1[key] + "<br>";
		i++;	
	}	
}
	</script>

    </head>
	
    <body onload='timer=setInterval("countUP()", 1000 );print_dict();'>
	
	
		<h1>{{ name }}</h1>
		<p>START POLL PAGE</p>
		<div style="position: absolute; right: 5;"><a href="{{ url }}">Sign out</a></div>
		<p>Elapsed Time :<div id="timer_container">0</div></p>
		<FORM ACTION="/option_save" METHOD=POST name="form1">
		 your question:<BR>
		<TEXTAREA NAME="question" COLS=40 ROWS=6>{{ question }}</TEXTAREA><BR><BR>			
		 Your Options: <BR>			
		</FORM>

		<div id="output">

				
		</div>
		
     	<Form Action="/Stop_Poll" METHOD=POST>
		<p><button name="Stop Poll" type="submit">Stop Poll</button></p> 
		</Form>       		
		
    </body>
		
</html>
