<html>
	
    <head>
	<link type="text/css" rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
	<link href="/stylesheets/css/bootstrap-responsive.css" rel="stylesheet">
		  <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <link href="/stylesheets/css/fluid1.css" rel="stylesheet">
		  <link rel="stylesheet" type="text/css" href="/stylesheets/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/header.css"/>
		<link rel="shortcut icon" href="http://static1.twilio.com/packages/favicons/img/Twilio_57.png">
      <script type="text/javascript" src="https://talkgadget.google.com/talkgadget/channel.js"></script>
      <script type="text/javascript">
	var i = 1;
	var counter = 0 ; 
	var min = 0 ;
	var hours = 0 ;
	var timer;
	var time;
	var channel;
	var socket;
	var channel_1;
	var socket_1;
	var names_list = []
	var number_list = [] 
	var flag = true

function channel_create(){
	channel = new goog.appengine.Channel('{{ channel_key }}');
	socket = channel.open();
	socket.onmessage = onMessage;
}	

	function countUP () {
	 counter = counter + 1;//increment the counter by 1
	 if(counter > 59)
	 {
		min = min + 1;
		counter = 0;
	 }
	 if(min > 59)
	 {
		hours = hours + 1;
		min = 0;
	 }
	 document.getElementById("timer_container").innerHTML = hours + ' : ' + min + ' : ' + counter;
	}	

function onMessage(msg_obj) {
	var temp_list = []
	var index = []
	var sms_info = eval(String(msg_obj.data));
	
	if(sms_info[2]== 'onStart'){
	window.location.reload();
	}
	if(sms_info[2]== 'onSms'){
	names_list.push(String(sms_info[0]));
	number_list.push(String(sms_info[1]));
	}
	if(sms_info[2]== 'onDelete'){
	names_list.splice(parseInt(sms_info[3]),1);
	number_list.splice(parseInt(sms_info[3]),1);
	}
	if(sms_info[2]== 'onFinish'){
	var div_element_winner = document.getElementById("winner");
	div_element_winner.innerHTML = "<br>";
	div_element_winner.innerHTML += "The winner is - ";
	div_element_winner.innerHTML += String(sms_info[0]);
	document.getElementById('timer').style.visibility='hidden';
	socket.close();
	}
	if(sms_info[2]!= 'onFinish'){
	var div_element_user = document.getElementById("output");
	div_element_user.innerHTML = "";
	i=0;
	for(var name in names_list)
	{
	div_element_user.innerHTML += names_list[i] + "<br>";
	i++;
	}
	}
}

</script>

    </head>
	
    <body onload='timer=setInterval("countUP()", 1000 );channel_create();'>
	<header>
	        <div id="header">


	        </div>
	    </header>
		<div id="wrap-header">
				<div id="main-header" class="SL_swap">
					<a id="header-logo" href="/">Twilio</a>
					<ul class="main-navigation">
						<li><a href="/"><i class="icon-white"></i>Home</a></li>
						<li><a href="/poll_history"><i class="icon-white"></i>History</a></li>	
	                  	<li><a href="/profile"><i class="icon-white"></i>Profile</a></li>
						<li><a href="{{ url }}"><i class="icon-white"></i>SignOut</a></li>
					</ul>
				</div>
		</div>
		</br>
	<font size="6" color="white">Send your Name to this number - </font></br></br><label style="font-size:30px;color:white;" id="phoneNumber">{{ friendly_number }}</label></br>
	
		<p><font size="4" color="white">RAFFLE PAGE</font></p>
		<font size="5" color="white"><p style="color:white;">Elapsed Time :<div id="timer_container">0</div></p></font></br></br>
	<div class="container">
		<font size="6" color="white"><div id="output" align="center">

			
		</div></font>	
		</br>
		<font size="7" color="white"><div id="winner">

				
		</div></font>
		</div>
     	<footer>
		        <p class="footer" style="color:white;">
					</br>
					</br>
		            Lovingly crafted by Suyash Chaudhary and Saurabh Ved
		        </p>
		    </footer>
    </body>
		
</html>
